<% include partials/layout.ejs %>
<% title = 'Events' %>

<div class="card">
    <div class="card-header">
        Upcoming Events
    </div>
    <ul class="list-group list-group-flush">
        <% events.forEach(event => { %>
            <li class="list-group-item">
                <h2><%= event.title %></h2>
                <p>Date: <%= event.date.toDateString() %></p>
                <p>Organized by: <%= event.organizerId.name %></p>
                <p><a href="/events/<%= event._id %>" class="btn btn-info">Details</a></p>
            </li>
        <% }) %>
    </ul>
</div>
