
<header class="jumbotron text-center">
    <div class="overlay">
        <h1>Login</h1>
        <p>Connect with the community and relive the memories.</p>
    </div>
</header>

<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/auth/login">
                        <p><%= message %></p>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        <button type="submit" class="btn btn-info">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

